# Copy this file to .env and replace the credentials with
# your own before starting the app.

# Watson Discovery
DISCOVERY_URL=https://gateway-fra.watsonplatform.net/discovery/api
DISCOVERY_IAM_APIKEY=HTUv2NIO06Qh6CvY1km-GqxsLbMPlVoGtcK8CMw8H5Mc
DISCOVERY_ENVIRONMENT_ID=eb55973c-2afa-4834-94f3-a7f1560ee084
DISCOVERY_COLLECTION_ID=f57babcd-1a09-4674-8b01-ae9ed2caed16

# Watson Knowledge Studio
WKS_MODEL_ID=5b1c3b1f-6ed6-4324-886c-4f7a73d27b3a

# Run locally on a non-default port (default is 3000)
# PORT=3000
